In [1]:
import selenium
import pandas as pd 
from bs4 import BeautifulSoup
import time
import numpy as np

from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException
import requests
import re
from selenium.webdriver.common.by import By

In [64]:
driver_B= webdriver.Chrome('chromedriver.exe')
driver_B.get('https://www.cars24.com/buy-used-car?sort=P&storeCityId=4709&pinId=560001')

<ipython-input-64-800a74d7be5f>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver_B= webdriver.Chrome('chromedriver.exe')

# Bangaluru

In [65]:
# For Bangalore
ScrollNumber_B = 80
for i in range(1,ScrollNumber_B):
    driver_B.execute_script("window.scrollTo(1,50000000)")
    time.sleep(5)
file_B = open('cars24_Bangalore.html', 'w', encoding='utf-8')
file_B.write(driver_B.page_source)
file_B.close()
driver_B.close()

In [67]:
data_Bl = open('cars24_Bangalore.html','r')
soup_Bl = BeautifulSoup(data_Bl, 'html.parser')

# chennai

In [35]:
driver_C = webdriver.Chrome("chromedriver.exe")
driver_C.get('https://www.cars24.com/buy-used-car?sort=P&storeCityId=5732&pinId=600001')
ScrollNumber_C = 80
for i in range(1,ScrollNumber_C):
    driver_C.execute_script("window.scrollTo(1,50000000)")
    time.sleep(5)
file_C = open('cars24_Chennai.html', 'w', encoding='utf-8')
file_C.write(driver_C.page_source)
file_C.close()
driver_C.close()

<ipython-input-35-c84369638a2f>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver_C = webdriver.Chrome("chromedriver.exe")

In [36]:
data_C = open('cars24_Chennai.html','r')
soup_C = BeautifulSoup(data_C, 'html.parser')

# New Delhi

In [41]:
# For New Delhi
driver_D = webdriver.Chrome("chromedriver.exe")
driver_D.get('https://www.cars24.com/buy-used-car?sort=P&storeCityId=2&pinId=110001')
ScrollNumber_D = 80
for i in range(1,ScrollNumber_D):
    driver_D.execute_script("window.scrollTo(1,50000000)")
    time.sleep(5)
file_D = open('cars24_Delhi.html', 'w', encoding='utf-8')
file_D.write(driver_D.page_source)
file_D.close()
driver_D.close()

<ipython-input-41-804dd15408ec>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver_D = webdriver.Chrome("chromedriver.exe")

In [44]:
data_Dl = open('cars24_Delhi.html','r')
soup_Dl = BeautifulSoup(data_D, 'html.parser')

# Hyderabad

In [45]:
# For Hyderabad
driver_H = webdriver.Chrome("chromedriver.exe")
driver_H.get('https://www.cars24.com/buy-used-cars-hyderabad/?itm_source=Cars24Website&itm_medium=sticky_header')
ScrollNumber_H = 80
for i in range(1,ScrollNumber_H):
    driver_H.execute_script("window.scrollTo(1,50000000)")
    time.sleep(5)
file_H = open('cars24_Hyderabad.html', 'w', encoding='utf-8')
file_H.write(driver_H.page_source)
file_H.close()
driver_H.close()

<ipython-input-45-7dc37c481f2c>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver_H = webdriver.Chrome("chromedriver.exe")

In [46]:
data_H = open('cars24_Hyderabad.html','r')
soup_H = BeautifulSoup(data_H, 'html.parser')

# kolkata

In [47]:
# For  kolkata
driver_K = webdriver.Chrome("chromedriver.exe")
driver_K.get('https://www.cars24.com/buy-used-cars-kolkata/?itm_source=Cars24Website&itm_medium=sticky_header')
ScrollNumber_K = 80
for i in range(1,ScrollNumber_K):
    driver_K.execute_script("window.scrollTo(1,50000000)")
    time.sleep(5)
file_K = open('cars24_kolkata.html', 'w', encoding='utf-8')
file_K.write(driver_K.page_source)
file_K.close()
driver_K.close()

<ipython-input-47-48b26e6c30b0>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver_K = webdriver.Chrome("chromedriver.exe")

In [48]:
data_K = open('cars24_kolkata.html','r')
soup_K = BeautifulSoup(data_K, 'html.parser')

# Pune

In [49]:
# For Pune
driver_P = webdriver.Chrome("chromedriver.exe")
driver_P.get('https://www.cars24.com/buy-used-cars-Pune/?itm_source=Cars24Website&itm_medium=sticky_header')
ScrollNumber_P = 80
for i in range(1,ScrollNumber_P):
    driver_P.execute_script("window.scrollTo(1,50000000)")
    time.sleep(5)
file_P = open('cars24_pune.html', 'w', encoding='utf-8')
file_P.write(driver_P.page_source)
file_P.close()
driver_P.close()

<ipython-input-49-0e6e2fe3d978>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver_P = webdriver.Chrome("chromedriver.exe")

In [50]:
data_P = open('cars24_pune.html','r')
soup_P = BeautifulSoup(data_P, 'html.parser')

# Mumbai

In [51]:
# For Mumbai
driver_M = webdriver.Chrome("chromedriver.exe")
driver_M.get('https://www.cars24.com/buy-used-car?sort=P&storeCityId=2378&pinId=400001')
ScrollNumber_M = 80
for i in range(1,ScrollNumber_M):
    driver_M.execute_script("window.scrollTo(1,50000000)")
    time.sleep(5)
file_M = open('cars24_Mumbai.html', 'w', encoding='utf-8')
file_M.write(driver_M.page_source)
file_M.close()
driver_M.close()

<ipython-input-51-bc9685885953>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver_M = webdriver.Chrome("chromedriver.exe")

In [52]:
data_M = open('cars24_Mumbai.html','r')
soup_M = BeautifulSoup(data_M, 'html.parser')

# Noida

In [53]:
# For Noida
driver_N = webdriver.Chrome("chromedriver.exe")
driver_N.get('https://www.cars24.com/buy-used-car?sort=P&storeCityId=134&pinId=201301')
ScrollNumber_N = 80
for i in range(1,ScrollNumber_N):
    driver_N.execute_script("window.scrollTo(1,50000000)")
    time.sleep(5)
file_N = open('cars24_Noida.html', 'w', encoding='utf-8')
file_N.write(driver_N.page_source)
file_N.close()
driver_N.close()

<ipython-input-53-e21186adee0b>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver_N = webdriver.Chrome("chromedriver.exe")

In [54]:
data_N = open('cars24_Noida.html','r')
soup_N = BeautifulSoup(data_N, 'html.parser')

#  Gurgaon

In [56]:

driver_G = webdriver.Chrome("chromedriver.exe")
driver_G.get('https://www.cars24.com/buy-used-car?sort=P&storeCityId=5&pinId=122001')
ScrollNumber_G = 80
for i in range(1,ScrollNumber_G):
    driver_G.execute_script("window.scrollTo(1,50000000)")
    time.sleep(5)
file_G = open('cars24_Gurgaon.html', 'w', encoding='utf-8')
file_G.write(driver_G.page_source)
file_G.close()
driver_G.close()

<ipython-input-56-1db90ca792b7>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver_G = webdriver.Chrome("chromedriver.exe")

In [59]:
data_Gu = open('cars24_Gurgaon.html','r')
soup_Gu = BeautifulSoup(data_Gu, 'html.parser')

In [60]:
main_div = 'col-4'
sub_div = '_1l4fi'
subsub_div = {'name':'_1jpRU','price':'_7udZZ','emi':'_2HFRN' , 'features':'bVR0c'}

In [61]:
name_H, name_D, name_M, name_B, name_N, name_G, name_K, name_P, name_C = [],[],[],[],[],[],[],[],[]
price_H, price_D, price_K, price_P,price_N, price_G, price_M, price_B, price_C = [],[],[],[],[],[],[],[],[]
emi_H, emi_D, emi_P, emi_K, emi_M, emi_N, emi_G, emi_B, emi_C = [],[],[],[],[],[],[],[],[]
features_H, features_D, features_M, features_N, features_G, features_K, features_P, features_B, features_C = [],[],[],[],[],[],[],[],[]
city_H, city_D, city_M, city_B, city_N, city_G, city_K, city_P, city_C = [],[],[],[],[],[],[],[],[]

In [62]:
name = []
price = []
emi = []
features = []
city = []

In [70]:
soups = [soup_Bl, soup_C, soup_Dl, soup_H, soup_K, soup_P, soup_M, soup_N, soup_Gu]

In [71]:
for x in soup_K.find_all('div',{'class':main_div}):
        for i in x.find_all('div',{'class':sub_div}):
    
            try:
                a = i.find('div',{'class':subsub_div['name']})
                name_K.append(a.text)
            except:
                name_K.append(np.nan)
            
            try:
                a = i.find('div',{'class':subsub_div['price']})
                price_K.append(a.text)
            except:
                price_K.append(np.nan)
        
    
            try:
                a = i.find('div',{'class':subsub_div['emi']})
                emi_K.append(a.text)
            except:
                emi_K.append(np.nan)
        
            try:
                a = i.find('ul',{'class':subsub_div['features']})
                features_K.append("\n".join([subsub_div.text for subsub_div in a]))
            except:
                features_K.append(np.nan)
            try:
                city_K.append('Kolkata')
            except:
                city_K.append(np.nan)

In [72]:
# Pune         
for x in soup_P.find_all('div',{'class':main_div}):
        for i in x.find_all('div',{'class':sub_div}):
    
            try:
                a = i.find('div',{'class':subsub_div['name']})
                name_P.append(a.text)
            except:
                name_P.append(np.nan)
            
            try:
                a = i.find('div',{'class':subsub_div['price']})
                price_P.append(a.text)
            except:
                price_P.append(np.nan)
        
    
            try:
                a = i.find('div',{'class':subsub_div['emi']})
                emi_P.append(a.text)
            except:
                emi_P.append(np.nan)
        
            try:
                a = i.find('ul',{'class':subsub_div['features']})
                features_P.append("\n".join([subsub_div.text for subsub_div in a]))
            except:
                features_P.append(np.nan)
            try:
                city_P.append('Pune')
            except:
                city_P.append(np.nan)

In [73]:
# Gurgaon         
for x in soup_Gu.find_all('div',{'class':main_div}):
        for i in x.find_all('div',{'class':sub_div}):
    
            try:
                a = i.find('div',{'class':subsub_div['name']})
                name_G.append(a.text)
            except:
                name_G.append(np.nan)
            
            try:
                a = i.find('div',{'class':subsub_div['price']})
                price_G.append(a.text)
            except:
                price_G.append(np.nan)
        
    
            try:
                a = i.find('div',{'class':subsub_div['emi']})
                emi_G.append(a.text)
            except:
                emi_G.append(np.nan)
        
            try:
                a = i.find('ul',{'class':subsub_div['features']})
                features_G.append("\n".join([subsub_div.text for subsub_div in a]))
            except:
                features_G.append(np.nan)
            try:
                city_G.append('Gurgaon')
            except:
                city_G.append(np.nan)

In [74]:
for x in soup_N.find_all('div',{'class':main_div}):
        for i in x.find_all('div',{'class':sub_div}):
    
            try:
                a = i.find('div',{'class':subsub_div['name']})
                name_N.append(a.text)
            except:
                name_N.append(np.nan)
            
            try:
                a = i.find('div',{'class':subsub_div['price']})
                price_N.append(a.text)
            except:
                price_N.append(np.nan)
        
    
            try:
                a = i.find('div',{'class':subsub_div['emi']})
                emi_N.append(a.text)
            except:
                emi_N.append(np.nan)
        
            try:
                a = i.find('ul',{'class':subsub_div['features']})
                features_N.append("\n".join([subsub_div.text for subsub_div in a]))
            except:
                features_N.append(np.nan)
            try:
                city_N.append('Noida')
            except:
                city_N.append(np.nan)

In [75]:
# Bangalore         
for x in soup_Bl.find_all('div',{'class':main_div}):
        for i in x.find_all('div',{'class':sub_div}):
    
            try:
                a = i.find('div',{'class':subsub_div['name']})
                name_B.append(a.text)
            except:
                name_B.append(np.nan)
            
            try:
                a = i.find('div',{'class':subsub_div['price']})
                price_B.append(a.text)
            except:
                price_B.append(np.nan)
        
    
            try:
                a = i.find('div',{'class':subsub_div['emi']})
                emi_B.append(a.text)
            except:
                emi_B.append(np.nan)
        
            try:
                a = i.find('ul',{'class':subsub_div['features']})
                features_B.append("\n".join([subsub_div.text for subsub_div in a]))
            except:
                features_B.append(np.nan)
            try:
                city_B.append('Bangalore')
            except:
                city_B.append(np.nan)

In [76]:
# Chennai          
for x in soup_C.find_all('div',{'class':main_div}):
        for i in x.find_all('div',{'class':sub_div}):
    
            try:
                a = i.find('div',{'class':subsub_div['name']})
                name_C.append(a.text)
            except:
                name_C.append(np.nan)
            
            try:
                a = i.find('div',{'class':subsub_div['price']})
                price_C.append(a.text)
            except:
                price_C.append(np.nan)
        
    
            try:
                a = i.find('div',{'class':subsub_div['emi']})
                emi_C.append(a.text)
            except:
                emi_C.append(np.nan)
        
            try:
                a = i.find('ul',{'class':subsub_div['features']})
                features_C.append("\n".join([subsub_div.text for subsub_div in a]))
            except:
                features_C.append(np.nan)
            try:
                city_C.append('Chennai')
            except:
                city_C.append(np.nan)

In [77]:
# Delhi          
for x in soup_Dl.find_all('div',{'class':main_div}):
        for i in x.find_all('div',{'class':sub_div}):
    
            try:
                a = i.find('div',{'class':subsub_div['name']})
                name_D.append(a.text)
            except:
                name_D.append(np.nan)
            
            try:
                a = i.find('div',{'class':subsub_div['price']})
                price_D.append(a.text)
            except:
                price_D.append(np.nan)
        
    
            try:
                a = i.find('div',{'class':subsub_div['emi']})
                emi_D.append(a.text)
            except:
                emi_D.append(np.nan)
        
            try:
                a = i.find('ul',{'class':subsub_div['features']})
                features_D.append("\n".join([subsub_div.text for subsub_div in a]))
            except:
                features_D.append(np.nan)
            try:
                city_D.append('Delhi')
            except:
                city_D.append(np.nan)

In [78]:
# Hyderabad
for x in soup_H.find_all('div',{'class':main_div}):
        for i in x.find_all('div',{'class':sub_div}):
    
            try:
                a = i.find('div',{'class':subsub_div['name']})
                name_H.append(a.text)
            except:
                name_H.append(np.nan)
            
            try:
                a = i.find('div',{'class':subsub_div['price']})
                price_H.append(a.text)
            except:
                price_H.append(np.nan)
        
    
            try:
                a = i.find('div',{'class':subsub_div['emi']})
                emi_H.append(a.text)
            except:
                emi_H.append(np.nan)
        
            try:
                a = i.find('ul',{'class':subsub_div['features']})
                features_H.append("\n".join([subsub_div.text for subsub_div in a]))
            except:
                features_H.append(np.nan)
            try:
                city_H.append('Hyderabad')
            except:
                city_H.append(np.nan)

In [79]:
# Mumbai         
for x in soup_M.find_all('div',{'class':main_div}):
        for i in x.find_all('div',{'class':sub_div}):
    
            try:
                a = i.find('div',{'class':subsub_div['name']})
                name_M.append(a.text)
            except:
                name_M.append(np.nan)
            
            try:
                a = i.find('div',{'class':subsub_div['price']})
                price_M.append(a.text)
            except:
                price_M.append(np.nan)
        
    
            try:
                a = i.find('div',{'class':subsub_div['emi']})
                emi_M.append(a.text)
            except:
                emi_M.append(np.nan)
        
            try:
                a = i.find('ul',{'class':subsub_div['features']})
                features_M.append("\n".join([subsub_div.text for subsub_div in a]))
            except:
                features_M.append(np.nan)
            try:
                city_M.append('Mumbai')
            except:
                city_M.append(np.nan)

In [80]:
name = name + name_H + name_D + name_M + name_B + name_P + name_K + name_C + name_N +name_G
price = price + price_H + price_D + price_M + price_B + price_C+ price_P + price_K + price_N + price_G
emi = emi + emi_H + emi_D + emi_M + emi_B + emi_C + emi_K + emi_P + emi_N + emi_G
features = features + features_H + features_D + features_M + features_B + features_C + features_K + features_P + features_N +features_G
city = city + city_H + city_D + city_M + city_B + city_C + city_K + city_P + city_N + city_G

In [81]:
d_cars=({"Car Name":name, 'Price':price, 
                  "EMI":emi, "Features":features,"Location":city})

In [82]:
df = pd.DataFrame(d_cars)
df.head()

,Car Name,Price,EMI,Features,Location
0,2010 Hyundai i10SPORTZ 1.2 Manual,"â‚¹2,88,599","â‚¹6,420/month","73,586 km\n2nd Owner\nPetrol",Hyderabad
1,2011 Hyundai i10SPORTZ 1.2 KAPPA2 Manual,"â‚¹2,92,899","â‚¹6,515/month","98,639 km\n2nd Owner\nPetrol",Hyderabad
2,2012 Hyundai Santro XingGLS Manual,"â‚¹2,92,599","â‚¹6,509/month","45,417 km\n1st Owner\nPetrol",Hyderabad
3,2013 Maruti Alto 800LXI Manual,"â‚¹2,67,899","â‚¹5,959/month","32,345 km\n2nd Owner\nPetrol",Hyderabad
4,2010 Honda CityS MT PETROL Manual,"â‚¹4,59,599","â‚¹10,224/month","71,117 km\n2nd Owner\nPetrol",Hyderabad

In [84]:
regex = r'^\d+\s(\w+)\s'
df['Car Brand'] = df['Car Name'].apply(lambda x: re.compile(regex).findall(x)[0])

regex = r'^\d+\s\w+\s(.*?)\s\w+$'
df['Model'] = df['Car Name'].apply(lambda x: re.compile(regex).findall(x))

regex = r'â‚¹(.*)'
df['Price'] = df['Price'].apply(lambda x: re.compile(regex).findall(x)[0])

regex = r'^\d+'
df['Model Year'] = df['Car Name'].apply(lambda x: re.compile(regex).findall(x)[0])

regex = r'\w+$'
df['Gear'] = df['Car Name'].apply(lambda x: re.compile(regex).findall(x))

regex = r'^(.*)\skm'
df['Driven (Kms)'] = df['Features'].apply(lambda x: re.compile(regex).findall(x)[0])

regex = r'\n(\d+)\w+\sOwner\n'
df['Ownership'] = df['Features'].apply(lambda x: re.compile(regex).findall(x)[0])

regex = r'\n(.*)$'
df['Fuel'] = df['Features'].apply(lambda x: re.compile(regex).findall(x)[0])

regex = r'â‚¹(.*)/month'
df['EMI (monthly)'] = df['EMI'].apply(lambda x: re.compile(regex).findall(x)[0])

In [85]:
df.head()

,Car Name,Price,EMI,Features,Location,Car Brand,Model,Model Year,Gear,Driven (Kms),Ownership,Fuel,EMI (monthly)
0,2010 Hyundai i10SPORTZ 1.2 Manual,"2,88,599","â‚¹6,420/month","73,586 km\n2nd Owner\nPetrol",Hyderabad,Hyundai,[i10SPORTZ 1.2],2010,[Manual],"73,586",2,Petrol,"6,420"
1,2011 Hyundai i10SPORTZ 1.2 KAPPA2 Manual,"2,92,899","â‚¹6,515/month","98,639 km\n2nd Owner\nPetrol",Hyderabad,Hyundai,[i10SPORTZ 1.2 KAPPA2],2011,[Manual],"98,639",2,Petrol,"6,515"
2,2012 Hyundai Santro XingGLS Manual,"2,92,599","â‚¹6,509/month","45,417 km\n1st Owner\nPetrol",Hyderabad,Hyundai,[Santro XingGLS],2012,[Manual],"45,417",1,Petrol,"6,509"
3,2013 Maruti Alto 800LXI Manual,"2,67,899","â‚¹5,959/month","32,345 km\n2nd Owner\nPetrol",Hyderabad,Maruti,[Alto 800LXI],2013,[Manual],"32,345",2,Petrol,"5,959"
4,2010 Honda CityS MT PETROL Manual,"4,59,599","â‚¹10,224/month","71,117 km\n2nd Owner\nPetrol",Hyderabad,Honda,[CityS MT PETROL],2010,[Manual],"71,117",2,Petrol,"10,224"

In [86]:
cols = ['Car Name', 'Features', 'EMI']
columns = ['Car Brand', 'Model', 'Price', 'Model Year','Location' ,'Fuel', 'Driven (Kms)', 'Gear', 'Ownership', 'EMI (monthly)']
df = df.drop(cols,axis=1)
df = df[columns]

In [87]:
df['Model'] = df['Model'].apply(lambda x: ''.join(x))
df['Gear']  = df['Gear'].apply(lambda x: ''.join(x))
df['Price'] = df['Price'].apply(lambda x: x.replace(',',''))
df['EMI (monthly)'] = df['EMI (monthly)'].apply(lambda x: x.replace(',',''))
df['Driven (Kms)'] = df['Driven (Kms)'].apply(lambda x: x.replace(',',''))

In [88]:
df

,Car Brand,Model,Price,Model Year,Location,Fuel,Driven (Kms),Gear,Ownership,EMI (monthly)
0,Hyundai,i10SPORTZ 1.2,288599,2010,Hyderabad,Petrol,73586,Manual,2,6420
1,Hyundai,i10SPORTZ 1.2 KAPPA2,292899,2011,Hyderabad,Petrol,98639,Manual,2,6515
2,Hyundai,Santro XingGLS,292599,2012,Hyderabad,Petrol,45417,Manual,1,6509
3,Maruti,Alto 800LXI,267899,2013,Hyderabad,Petrol,32345,Manual,2,5959
4,Honda,CityS MT PETROL,459599,2010,Hyderabad,Petrol,71117,Manual,2,10224
...,...,...,...,...,...,...,...,...,...,...
3070,Hyundai,i20SPORTZ 1.2 VTVT,399699,2014,Noida,Petrol,83811,Manual,1,8891
3071,Nissan,,703099,2021,Noida,Petrol,15844,,1,15640
3072,Maruti,SwiftVXI,560599,2018,Noida,Petrol,11917,Manual,1,12470
3073,Hyundai,Elite i20MAGNA 1.2,494199,2016,Noida,Petrol,20223,Manual,2,10993
3074,Hyundai,i10ERA 1.1 IRDE,271699,2013,Noida,Petrol,37928,Manual,1,6044

In [89]:
df.to_csv("Cars24_car.csv")